*, *:before, *:after {
        box-sizing: border-box;
  }
  
  body {
        /* margin: 40px; */
        font-family: 'Ubuntu', sans-serif;
        background-image: url("brushed_alu.png");
        background-repeat: repeat;
        color: black;
  }
  
  .wrapper {
        /* max-width: 1600px; */
        /* margin: 0 20px; */
        display: grid;
        grid-gap: 4px;
  }
  
  @media only screen and (min-width: 500px) {
  
    .sidebar {
        float: left;
        width: 50%;
    }
  
    .content {
        float: right;
        width: 50%;
    }

    .information {
        float: left;
        width: 50%;
    }
  
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 3fr;
    }
    
    .header, .footer {
        grid-column: 1 / -1;
        clear: both;
    }
  }
  
  .wrapper > * {
        background-color: white;
        color: black;
        padding: 20px;
        font-size: 150%;
        margin-bottom: 10px;
  }
  
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
}

input {
    display: block;
}

.header h1 {
    font-size: 45px;
    margin: 5px 0px;
    font-family: 'Prosto One', 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 1px grey;
}

.sidebar {
    padding-top: 5px;
}

.sidebar h2 {
    font-size: 25px;
}

.login-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
}

.login-form button, .create-new-btn, .submit-update-btn, .home-btn, .logout-btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.login-form button:hover, 
.create-new-btn:hover, 
.signup-submit-btn:hover, 
.service-form-btn:hover, 
.record-log-update-btn:hover, 
.record-log-delete-btn:hover, 
.submit-update-btn:hover,
.home-btn:hover,
.logout-btn:hover {
    background-color: rgb(53, 52, 52);
    cursor: pointer;
}

.login-form button:focus, 
.create-new-btn:focus, 
.signup-submit-btn:focus, 
.service-form-btn:focus, 
.record-log-update-btn:focus, 
.record-log-delete-btn:focus, 
.submit-update-btn:focus,
.home-btn:focus,
.logout-btn:focus {
    background-color: rgb(243, 123, 67);
    color: black;
    outline: none;
}

#service-scroll {
    height: 500px;
}

.content {
    overflow: scroll;
}

.content h4 {
    font-size: 25px;
    margin-top: 80px;
}

.content a, .sidebar a {
    color: rgb(243, 123, 67);
}

.information label {
    font-size: 20px;
}

.information input {
    width: 85%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.information input:focus {
    outline: none;
}

.signup-submit-btn {
    width: 93%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.service-form {
    margin-top: 15px;
}

.update-form {
    margin-top: 15px;
}

.service-form input, .update-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.service-form input:focus, .update-form input:focus {
    outline: none;
}

.service-form-btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.record-log-list { 
    border: 2px black solid;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    box-shadow: 8px 8px 6px grey;
    background-image: url("brushed_alu.png");
    background-repeat: repeat;
}

.record-log-list h3 {
    margin-bottom: -14px;
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
}

.record-log-list p {
    text-align: center;
}

.record-log-update-btn, .record-log-delete-btn {
    width:100%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.icons-container {
    float: right;
    
}

.facebook-img {
    height: 45px;
    width: 45px;
    float: right;
}

.instagram-img {
    height: 45px;
    width: 45px;
    float: right;
}

.vehicle-cost {
    text-align: center;
    margin-bottom: 15px;
}

.vehicle-cost h2 {
    margin-bottom: -17px;
}

.login-error {
    font-size: 15px;
    color: red;
    margin-top: 10px;
}

.created-container {
    display: inline;
    font-size: 15px;
}

