*, *:before, *:after {
        box-sizing: border-box;
  }
  
  body {
        margin: 40px;
        font-family: 'Ubuntu', sans-serif;
        background-color: rgb(243, 123, 67);
        color: black;
  }
  
  .wrapper {
        max-width: 1080px;
        margin: 0 20px;
        display: grid;
        grid-gap: 2px;

  }
  
  @media screen and (min-width: 500px) {
  
    .sidebar {
        float: left;
        width: 50%;
        /* max-height: 250px; */
    }
  
    .content {
        float: right;
        width: 50%; 
    }

    .information {
        float: left;
        width: 50%;
    }
  
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 3fr;
    }
    
    .header, .footer {
        grid-column: 1 / -1;
        clear: both;
    }
  }
  
  .wrapper > * {
        background-color: white;
        color: black;
        padding: 20px;
        font-size: 150%;
        margin-bottom: 10px;
  }
  
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }

input {
    display: block;
}

.footer {
    font-size: 15px;
}

.header h1 {
    font-size: 40px;
    margin: 5px 0px;
}

.sidebar {
    padding-top: 5px;
}

.sidebar h2 {
    font-size: 25px;
}

.login-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
}

.login-form button, .create-new-btn, .submit-update-btn, .home-btn, .logout-btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.login-form button:hover, 
.create-new-btn:hover, 
.signup-submit-btn:hover, 
.service-form-btn:hover, 
.record-log-update-btn:hover, 
.record-log-delete-btn:hover, 
.submit-update-btn:hover,
.home-btn:hover,
.logout-btn:hover {
    background-color: rgb(53, 52, 52);
    cursor: pointer;
}

.login-form button:focus, 
.create-new-btn:focus, 
.signup-submit-btn:focus, 
.service-form-btn:focus, 
.record-log-update-btn:focus, 
.record-log-delete-btn:focus, 
.submit-update-btn:focus,
.home-btn:focus,
.logout-btn:focus {
    background-color: rgb(243, 123, 67);
    color: black;
    outline: none;
}

.content {
    overflow: scroll;
    height: 500px;
}

.content p {
    font-size: 20px;
}

.content h4 {
    font-size: 20px;
    margin-top: 80px;
}

.content a, .sidebar a {
    color: rgb(243, 123, 67);
}

.information label {
    font-size: 20px;
}

.information input {
    width: 85%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.information input:focus {
    outline: none;
}

.signup-submit-btn {
    width: 93%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.service-form input, .update-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
}

.service-form input:focus, .update-form input:focus {
    outline: none;
}

.service-form-btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.record-log-list { 
    border: 2px black solid;
    padding-top: 15px;
    padding-bottom: 10px;
    list-style: none;
    padding-right: 32px;
}

.record-log-list li {
    margin-bottom: 5px;
}

.record-log-update-btn, .record-log-delete-btn {
    width: 48%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

#update {
    margin-right: 1%;
}

#delete {
    margin-left: 1%;
}
